:root{
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #232323;
    --bg-secondary: #141418;
}


body{
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

/*
body::-webkit-scrollbar{
    width: 0.25rem;
}
body::-webkit-scrollbar-track{
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
    background: #313131;
}*/


main{
    margin-left: 5rem;
    padding: 1rem;
}
header{
    position: fixed;
    background: #1a1a1a;
    padding: 1rem;
    width: 100%;
    height: 2rem;
}
.right_area h3{
    color: #ececec;
    margin-top: -0.2rem;
    margin-right: 3rem;
    float: right;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    opacity: 0.8;
}

.navbar{
    position: fixed;
    background: #1a1a1a;
    transition: width 200ms ease;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg{
    transform: rotate(90deg);
    transition: transform 0.2s;
}

.navbar:hover .logo svg{
    transform: rotate(0deg);
}

.nav-item{
    width: 100%;
}
.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: opacity(0.7);
}

.nav-link:hover{
    filter: opacity(1);
    background: #313131;
}

.link-text{
    display: none;
    margin-left: 1rem;
}

.link-logo{
    display: none;
}

.nav-link svg{
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar .profile_image{
    display: none;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-bottom: 1rem;
}
.navbar h4{
    display: none;
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}

.content{
    margin-left: 5rem;
    color: #ececec;
    background: url(bg.png) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:  cover;
    height: 400vh;
}

.content .text{
    color: #ececec;
    font-size: 1.5rem;
    padding-top: 14rem;
}
.content .text h2{
    padding-left: 5rem;

}
.content .text h2 span{
    padding: 3rem;
    color: rgb(0, 255, 234);
}
.content .text2{
    font-size: 1.5rem;
}
.content .text2 h5{
    padding-top: 40%;
    padding-left: 5rem;
    font-size: 2rem;
}
.content .text2 h5 span{  
    color: rgb(12, 203, 236);
}

.container{
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    width: 70%;
    height: 0;
    padding-bottom: 40%;
    background: #4c4c4c;
    border: solid: 10px #2c2c2c;
}
.slide_img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.slide_img img{
    width: 100%;
    height: 100%;
}

#i1,#i2,#i3,#i4{
    display: none;
}
.pre, .nxt{
    width: 12%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(88,88,88, 0.4);
    z-index: 99;
    cursor: pointer;
}
.pre{
    left: 0;
}
.nxt{
    right: 0;
}

.nav{
    width: 100%;
    height: 11px;
    bottom: 12%;
    position: absolute;
    text-align: center;
    z-index: 99;
}
.dots{
    top: -5px;
    width: 18px;
    height: 18px;
    margin: 0 4px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background: rgba(0, 0, 0, 0.6);

}

.slide_img{
    z-index: -1;
}
#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four{
    z-index: 9;
}

#i1:checked ~ .nav #dot1,
#i2:checked ~ .nav #dot2,
#i3:checked ~ .nav #dot3,
#i4:checked ~ .nav #dot4{
    background: #ffffff;
}

@media only screen and (max-width: 600px){
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
    .logo{
        display: none;
    }
    .navbar-nav{
        flex-direction: row;
    }
    .nav-link {
        justify-content: center;
    }
    main{
        margin: 0;
    }
    .content{
        margin-left: 0;
    }
    .content .para1{
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: ;
    }
    .content .para2{
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: ;
    }

}

@media only screen and (min-width: 600px){
    .navbar{
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    .navbar:hover{
        width: 16rem;
    }   
    .navbar:hover .link-text{
        display: inline;
    }
    .navbar:hover .link-logo{
        display: block;
    }
    .navbar:hover .profile_image{
        display: inline;
    }
    .navbar:hover h4{
        display: block;
    }
    .content .para1{
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 2.2vw;
    }
    .content .para2{
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 2.2vw;
    }
    
}
